/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

/* HTML5 display definitions
	 @mixin ========================================================================= */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

template {
  display: none; }

[hidden] {
  display: none; }

/* Links
	 @mixin ========================================================================= */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
	 @mixin ========================================================================= */
abbr[title] {
  border-bottom: 1px dotted; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
	 @mixin ========================================================================= */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* Grouping content
	 @mixin ========================================================================= */
figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
	 @mixin ========================================================================= */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit; }

button {
  overflow: visible; }

button {
  text-transform: none; }

html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/* Tables
	 @mixin ========================================================================= */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background: silver;
  color: red; }

.center-content {
  width: 960px;
  margin: 0 auto; }

.s-header {
  background: #2a2b2c;
  border-top: 3px solid #cd3737;
  height: 32px; }

.basket {
  float: right;
  background: #cc3333;
  width: 100px;
  border-radius: 0 0 10px 10px;
  margin-left: 25px;
  overflow: hidden; }

.basket__link {
  display: block;
  height: 45px;
  position: relative; }
  .basket__link::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 31px;
    height: 31px;
    background: url("../img/basket.png") no-repeat; }

.basket__text {
  font-size: 13px;
  display: inline-block;
  color: white;
  padding: 12px 0 0 40px; }

.login-register {
  float: right;
  font-size: 16px;
  color: white;
  padding: 0;
  margin: 0;
  padding: 7px 0; }

.login,
.register {
  color: white; }

.slash {
  padding: 0 3px; }

.social {
  float: left;
  padding: 3px 0;
  font-size: 0px; }

.social-link {
  overflow: hidden;
  width: 24px;
  height: 24px;
  display: inline-block; }

.login, .register {
  padding: 0;
  margin: 0; }

a.social-link__f {
  background: url("../img/sprite.png") no-repeat -1px 0px; }

a.social-link__dr {
  background: url("../img/sprite.png") no-repeat -26px 0px; }

a.social-link__tw {
  background: url("../img/sprite.png") no-repeat -26px -25px; }

a.social-link__mail {
  background: url("../img/sprite.png") no-repeat -1px -26px; }

a.social-link__vmeo {
  background: url("../img/sprite.png") no-repeat -51px 0px; }
