.basket{
    float: right;
    background: #cc3333;
    width: 100px;
    border-radius:0 0 10px 10px;
    margin-left: 25px;
    overflow: hidden; 
}
.basket__link{
    display: block;
    height: 45px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 31px;
        height: 31px;
        background: url("../img/basket.png")no-repeat;
    }
}
.basket__text{
    font-size: 13px;
    display: inline-block;
    color: white;
    padding: 12px 0 0 40px;
}