.social{
   float: left;
   padding: 3px 0;
   font-size: 0px;
}
.social-link{
    overflow: hidden;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.login,.register{
    padding: 0;
    margin: 0;
}
a.social-link__f{
    background: url("../img/sprite.png")no-repeat -1px 0px;
}
a.social-link__dr{
    background: url("../img/sprite.png")no-repeat -26px 0px;
}
a.social-link__tw{
    background: url("../img/sprite.png")no-repeat -26px -25px;
}
a.social-link__mail{
    background: url("../img/sprite.png")no-repeat -1px -26px;
}
a.social-link__vmeo{
    background: url("../img/sprite.png")no-repeat -51px 0px;
}